In [7]:
import pandas as pd
import tensorflow as tf

In [10]:
df = pd.read_pickle('./data/final_df')
dates_df = pd.read_pickle('./data/dates_df')

loaded_model = tf.keras.models.load_model("./chekpoint_models/realtime/")

In [12]:
df['kp_prediction'] = loaded_model.predict(df.drop(['Kp','ap'],axis=1))

537/537 [==============================] - 1s 2ms/step

In [31]:
app_df = df.join(dates_df[['YYYY','DD','MM','h','date']])

In [32]:
app_df.to_pickle('./data/app_df')

In [30]:
dates_df

,index,YYYY,DD,MM,h,date,WindSpeedX,WindSpeedY,WindSpeedZ,fcp4,...,fcp50,fcp51,fcp52,fcp53,hh._m,days,days_m,Kp,ap,D
0,0,2016,1,1,0,2016-01-01 01:29:30,4.433160,-1.247880,-13.165854,NaN,...,NaN,NaN,NaN,NaN,1.5,30681.000,30681.0625,6.000,80,1
1,1,2016,1,1,3,2016-01-01 04:29:30,3.448769,-3.864323,-8.984068,139.338250,...,151.407406,134.467309,162.754562,142.775667,4.5,30681.125,30681.1875,5.333,56,1
2,2,2016,1,1,6,2016-01-01 07:29:30,4.407694,-5.729229,-6.420560,143.819967,...,156.671133,137.356233,158.362867,144.435267,7.5,30681.250,30681.3125,5.000,48,1
3,3,2016,1,1,9,2016-01-01 10:29:30,3.758710,-6.973925,3.080465,NaN,...,NaN,NaN,NaN,NaN,10.5,30681.375,30681.4375,3.333,18,1
4,4,2016,1,1,12,2016-01-01 13:29:30,6.514989,-6.250111,-0.786576,142.064460,...,156.235200,136.425440,159.369940,145.061380,13.5,30681.500,30681.5625,1.667,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17163,17163,2022,31,12,9,2022-12-31 10:29:30,-4.575782,1.086207,2.755094,20.038541,...,NaN,NaN,NaN,NaN,10.5,33237.375,33237.4375,1.667,6,2
17164,17164,2022,31,12,12,2022-12-31 13:29:30,-2.912565,0.545443,-1.746772,25.665688,...,NaN,NaN,NaN,NaN,13.5,33237.500,33237.5625,3.000,15,2
17165,17165,2022,31,12,15,2022-12-31 16:29:30,-3.569145,2.629413,0.167908,32.373597,...,NaN,NaN,NaN,NaN,16.5,33237.625,33237.6875,2.667,12,2
17166,17166,2022,31,12,18,2022-12-31 19:29:30,-4.063840,1.834405,-1.244176,24.981998,...,NaN,NaN,NaN,NaN,19.5,33237.750,33237.8125,3.333,18,2
17167,17167,2022,31,12,21,2022-12-31 22:29:30,-4.004869,1.863977,-0.416700,24.341184,...,NaN,NaN,NaN,NaN,22.5,33237.875,33237.9375,4.000,27,2